.moveIt {
  padding-top: 5px;
  border-top: 1px solid #9d9d9d;
}

.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
};

.closeSelect {
  text-align: right;
}


.selectTheBoard {
  background-color: #BD081C !important;
};

.fa-window-close {
  color: #BD081C;
  cursor: pointer;
}
