@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background-color: darksalmon;
  text-align: center;

  h1 {
    margin: 75px;
    font-family: fantasy;
  }

}
