@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula&display=swap');

.boardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boardButton {
  margin-right: 5px;
}

.boardbtn {
  background-color: #BD081C !important;
}

.boardbtn:hover {
  opacity: .9;
}

.welcome {
  color: #BD081C;
  font-family: 'Pattaya', sans-serif;
}

.userHeader {
  margin: 20px 0px 10px 0px;
}

.fa-trash {
  color: #BD081C;
  cursor: pointer;
};

.fa-plus-square {
  color: #BD081C;
  cursor: pointer;
};

.boardName {
  font-family: 'Khula', sans-serif;
  font-weight: bold;
}

h2, h5 {
  font-family: 'Khula', sans-serif;
}
