.pinContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;
}

.fa-home {
  color: #BD081C;
  margin-top: 15px;
}

.card-body {
  padding: 2px 20px 20px 20px !important;
}

.card-title {
  color: #BD081C;
  margin-top: 9px !important;
}
